<div>
    <h1 class='h1'>{{title}}</h1>
    <h4>{{brief}}</h4>
</div>
<!--<div>
    <button type="button" class="btn btn-default col-xs-3">Year:</button>
    <select class='selectpicker col-xs-3 col-md-3' id='dropdown_year'></select>
    <button type="button" class="btn btn-default col-xs-3">Type:</button>
</div>-->
<form class="form-horizontal" role="form">
    <div class="nSilder">
        <!--tooltips is array for two slider control; ture=show value false= don't show-->
        <!--<nouislider name="yearSlider" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="someValue" [tooltips]="[true]" style="margin-top: 4em" (ngModelChange)="onChangeYear($event)"></nouislider>-->
        <nouislider name ="yearSlider" [config]="yearConfig" [(ngModel)]="someValue" style="margin-bottom: 4em" (ngModelChange)="onChangeYear($event)"></nouislider>
    </div>
    <div class="form-group">
        <label class="col-xs-2">TIME:</label>
        <div class="col-xs-10">
            <ng-select (selected)="timeSelected($event)" [items]="itemsOfTime" [active]="activeOfTime">
            </ng-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2">TYPE:</label>
        <div class="col-xs-10">
            <ng-select (selected)="typeSelected($event)" [items]="itemsOfType" [active]="activeOfType">
            </ng-select>
        </div>
    </div>
</form>