<div>
    <h1 class='h1'>{{title}}</h1>
    <h4>{{brief}}</h4>
</div>
<!--<div>
    <button type="button" class="btn btn-default col-xs-3">Year:</button>
    <select class='selectpicker col-xs-3 col-md-3' id='dropdown_year'></select>
    <button type="button" class="btn btn-default col-xs-3">Type:</button>
</div>-->
<form class="form-horizontal" role="form">
    <div class="input-group">
        <div class="input-group-addon">年份</div>
        <div>
            <ng-select (selected)="yearSelected($event)" [items]="itemsOfYear" [active]="activeOfYear">
            </ng-select>
        </div>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-addon">月份</div>
        <div>
            <ng-select (selected)="monthSelected($event)" [items]="monthOfYear" [active]="activeOfmonth">
            </ng-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2">TYPE:</label>
        <div class="col-xs-10">
            <ng-select (selected)="typeSelected($event)" [items]="itemsOfType" [active]="activeOfType">
            </ng-select>
        </div>
    </div>
</form>