<div>
    <h1 class='h1'>{{title}}</h1>
    <h4>{{brief}}</h4>

    <div class="abstract">
        <blockquote>
            <p>相較台北、新北或新竹市等地方而言，便利商店在離島(澎湖、金門、馬祖)、彰化和屏東等地，可能是重要的購物場所之一，而非僅只是順手買個方便的地方。</p>
        </blockquote>
        <p class="line1">檢視地圖中2013年至2016年的便利商店消費平均客單價資料，可以發現幾項有趣的事情：</p>
        <ul>
            <li>離島(澎湖、金門、馬祖)、彰化和屏東等地，通常是消費金額最高的前三名；而台北、新北和新竹市等地，則都是消費金額最少的三個地區之一。</li>
            <li>金門一直到2013年12月才有在便利商店，然後消費金額一直逐年上升。</li>
            <li>無論南北的便利商店在一月份時，都是平均消費最高的時候，但南部地區也可能在七月達到另一個高峰。</li>
        </ul>
        <blockquote>
            <p>透過
                <u>拖動時間軸</u>可以看到不同時間點的消費差異；
                <u>點選地圖</u>上的各縣市，將可以看到各縣市的消費趨勢。</p>
        </blockquote>
    </div>
</div>
<!--<div>
    <button type="button" class="btn btn-default col-xs-3">Year:</button>
    <select class='selectpicker col-xs-3 col-md-3' id='dropdown_year'></select>
    <button type="button" class="btn btn-default col-xs-3">Type:</button>
</div>-->
<form class="form-horizontal" role="form">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">年度</div>
                <!--tooltips is array for two slider control; ture=show value false= don't show-->
                <!--<nouislider name="yearSlider" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="someValue" [tooltips]="[true]" style="margin-top: 4em" (ngModelChange)="onChangeYear($event)"></nouislider>-->
                <div class="col-xs-11">
                    <nouislider name="yearSlider" [config]="yearConfig" [(ngModel)]="yearValue" style="margin-left: 2em; margin-bottom:2em" (ngModelChange)="onChangeYear($event)"></nouislider>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">月份</div>
                <div class="col-xs-11">
                    <nouislider name="monthSlider" [config]="monthConfig" [(ngModel)]="monthValue" style="margin-left: 2em; margin-bottom:2em"
                        (ngModelChange)="onChangeMonth($event)"></nouislider>
                </div>
            </div>
        </div>
    </form>
</form>

<!--copy from ng2-bootstrap-->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">查無資料</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        目前最新資料僅統計到2016年8月，後續會持續保持更新。感謝！
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>