<div class="container">
    <div class="row">
        <!-- First Blog Post -->
        <div class="clo-log-8 col-md-8">
            <h1 class="page-header">
                台灣電子發票消費地圖
                <small>縣市消費差異比較</small>
            </h1>
            <p class="lead">
                by <a href="">MoGeoStory</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on March 17, 2017 at 08:00 PM</p>
            <hr>
            <img class="img-responsive" src="src/app/image/post-receipt.png" alt="">
            <hr>
            <p>透過觀察不同時間點，各縣市的電子發票消費數據，將會發現一些獨特的現象。</p>
            <a class="btn btn-primary" [routerLink]="['/post/receipt']">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
        </div>
        <!-- Second Blog Post -->
        <div class="clo-log-8 col-md-8">
            <h2>
                <a href="#">Blog Post Title</a>
            </h2>
            <p class="lead">
                by <a href="index.php">Start Bootstrap</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum
                tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore
                impedit voluptates!</p>
            <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
        </div>
        <!--//second blog post-->
    </div>
    <!--//row-->
</div>
<!--//container-->