<h1 class="page-header">
    台灣電子發票消費地圖
    <small>縣市消費差異比較</small>
</h1>

<!-- First Blog Post -->
<h2>
    <a href="#"></a>
</h2>
<p class="lead">
    by <a href="">MoGeoStory</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted on March 17, 2017 at 08:00 PM</p>
<hr>
<img class="img-responsive" src="app/image/post-receipt.png" alt="">
<hr>
<p>透過觀察不同時間點，各縣市的電子發票消費數據，將會發現一些獨特的現象。</p>
<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>