.sebm-google-map-container {
  height: 300px;
}

#map {
  height: 500px;
  /*不寫也有預設值*/
  width: 100%;
  margin: 0;
  padding: 0;
}

div .test {
  color :red;
}

#map * svg.stations {
  background-color:rgba(0,0,0,.5);
}

#map * svg.stations > circle.marker{
  /*fill:red;*/
}

